<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

<listeners>
<listener class-name="listener.MyTestNGListener"/>
</listeners>


 <!--  <test thread-count="5" name="Test">
   <classes>
    <class name="testcases.suiteb.SearchAndPurchasePhoneTest"/>
   </classes>
  </test>  -->
<suite-files>
<suite-file path="suitea.xml" />
<suite-file path="suiteb.xml" />
</suite-files>

</suite> <!-- Suite -->
